<!DOCTYPE html>

<html>
<head lang="pt-br">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Normalize Core -->
    <link rel="stylesheet" href="~/Content/normalize.css" />

</head>
<body>

    <nav></nav>

    <main>
        @RenderBody()
    </main>

    <footer></footer>

</body>
</html>
